:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;

  --primary-color: #FFC0CB;
  --primary-color-hover: #FF69B4;
  --title-color: #FF69B4;
  --background-color: #fff0f5;
}

body {
  margin: 0;
  min-height: 100vh;
}
